.blog_wr {
    display: flex;
    margin-top: 85px;
    margin-left: 345px;
    padding-bottom: 180px;
    gap: 78px;
}

.blog_title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.blog_content_box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 32px;
}

.content_item_info {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.content_item_cat, .content_item_date {
    padding-right: 12px;
    border-right: 1px solid #787A80;
}

.content_item_comments {
    background: url("/public/images/chat.png") no-repeat;
    padding-left: 28px;
}

.content_item_title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.content_item_desc {
    width: 810px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551
}

.blog_controls {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.blog_controls div {
    cursor: pointer;
}

.blog_menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blog_menu_item {
    padding-bottom: 32px;
    border-bottom: 1px solid #E5E8ED;
}

.blog_menu_fm {
    display: flex;
    width: 342px;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #D7DADD;
    border-radius: 4px;    
}

.blog_menu_fm input {
    display: block;
    border: 0;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
}

.blog_menu_fm input::placeholder {
    color: #9A9CA5;
}

.blog_menu_fm button {
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.menu_item_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #1E212C;    
}

.blog_menu_categories, .menu_posts, .menu_tags {
    margin-top: 24px;
}

.menu_categories_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.menu_categories_item:last-child {
    margin-bottom: 0;
}

.menu_categories_name {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.menu_categories_count {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.menu_posts_item {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

.menu_categories_item:last-child {
    margin-bottom: 0;
}

.menu_posts_date {
    padding-left: 28px;
    background: url("/public/images/clock2.png") no-repeat;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.menu_posts_title {
    width: 222px;
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
}

.menu_tags {
    display: flex;
    width: 351px;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 12px;
}

.menu_tags button {
    display: block;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 16px;
    padding-right: 16px;
    background: transparent;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    cursor: pointer;
}

.menu_tags button:hover {
    background: #17696A;
    border: 1px solid #17696A;
    color: #FFFFFF;
}

