.footer {
    padding-top: 60px;
    padding-bottom: 32px;
    background: #1E212C;
}

.footer-bar {
    padding-left: 345px;
    padding-right: 345px;
    padding-bottom: 40px;
}

.footer-bar-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-bar-list {
    list-style-type: none;
    margin-top: 12px;
    opacity: 0.6;
}

.footer-bar-list .bar-list-item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.footer-bar-list .bar-list-item a:hover {
    color: chartreuse;
}

.footer-divider {
    border: 1px solid #FFFFFF;
    opacity: 0.15;
}

.footer-bar-call,
.footer-bar-email {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer-bar-call span,
.footer-bar-email span {
    font-weight: 900;
    opacity: 1;
}

.footer-bar-email {
    margin-top: 4px;
}

.footer-social {
    margin-top: 24px;
    gap: 12px;
}

.footer-info {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 345px;
    padding-right: 344px;
}

.footer-rights {
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-top a {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
}